@model IEnumerable<LibraryManagement.Business.Model.BookModel>

<h1>Search Book here</h1>
<br />
<form class="searchbook" asp-action="SearchBook" asp-controller="Book" method="get">
    <div class="innersrchbox">
    <b>Search By: </b> @Html.RadioButton("searchby","BookCategory",true) <text>Book_Category</text>
    @Html.RadioButton("searchby","BookTitle") <text>Book_title</text> <l class="inrsrchgoback">@Html.ActionLink("Go Back <<","HomePage")</l><br />
    @Html.TextBox("Search")  <input class="btn btn-outline-dark" type="submit" value="Search" style="box-shadow:2px solid white" />
    </div>

    <table class="Stable">
        @{
            var count = 0;
        }
        @foreach (var item in Model)
        {
            var k = item.AttachmentUrl;
            var T = item.Book_Pdf;

            <td style="border:solid 1px black"><img class="Searchsp" src="@Url.Content(k)" /> <br /> <p class="Booktit">@Html.DisplayFor(modelItem => item.Book_Title)</p><br> <a href="@Url.Content(T)"> <button id="booksrchbtn" class="btn btn-primary"> Read </button> </a> </td>
            count++;
            if (count % 4 == 0)
            {
                <tr><br /></tr>
            }

        }
    </table>

</form>