@inject IHttpContextAccessor httpContextAccessor;
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - LibraryManagement.Web</title>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/css/site.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/css/Login.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/css/Books.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/css/responsive.css">
    <link rel="stylesheet" href="~/LibraryManagement.Web.styles.css" asp-append-version="true" />
</head>
<body>
    <header>
        <nav class="navbar navbar-expand-sm navbar-toggleable-sm navbar-light bg-white border-bottom box-shadow mb-3">
            <div id="Layoutheader" class="container-fluid">
                @*<a class="navbar-brand" asp-area="" asp-controller="User" asp-action="HomePage">LibraryManagement.Web</a>*@
                <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target=".navbar-collapse" aria-controls="navbarSupportedContent"
                        aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>
                <div class="navbar-collapse collapse d-sm-inline-flex justify-content-between">
                    <ul class="navbar-nav flex-grow-1">
                        @if (!string.IsNullOrEmpty(httpContextAccessor.HttpContext.Session.GetString("UserEmail")))
                        {
                            <li class="nav-item">
                                <a id="MenuBar" class="nav-link text-dark" asp-area="" asp-controller="user" asp-action="HomePage" data-bs-toggle="offcanvas" data-bs-target="#demo">Menu</a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link text-dark" asp-area="" asp-controller="Book" asp-action="BooksAddForm">Add An Book</a>
                            </li>
                        }
                        @if (string.IsNullOrEmpty(httpContextAccessor.HttpContext.Session.GetString("UserEmail")))
                        {
                            <li class="nav-item" style="margin-left:23vh;">
                                <h4 id="user" class="nav-link text-dark">Library Management System</h4>
                            </li>
                        }
                        else
                        {
                            <li class="nav-item">
                                <h4 id="user" class="nav-link text-dark">Library Management System</h4>
                            </li>
                        }
                        @if (!string.IsNullOrEmpty(httpContextAccessor.HttpContext.Session.GetString("UserEmail")))
                        {
                         <li id="leftho" class="nav-item">
                                <a id="user" class="nav-link text-dark text-uppercase"><img src="~/Images/Profile Pic.png" id="dmd"/>
                                    @{
                                        var username = @httpContextAccessor.HttpContext.Session.GetString("UserEmail");
                                        foreach (var it in username)
                                        {
                                            if (it == '@')
                                            {
                                                break;
                                            }
                                            @it
                                        }
                                    }
                                </a>
                         </li>
                         <li class="nav-item">
                             <a asp-action="Logout" asp-controller="User" class="nav-link text-dark">Logout</a>
                         </li>
                        }
                    </ul>
                </div>
            </div>
        </nav>
    </header>
    <div class="container">
        <main role="main" class="pb-3">
            @RenderBody()
        </main>
    </div>
    @if (!string.IsNullOrEmpty(httpContextAccessor.HttpContext.Session.GetString("UserEmail")))
    {
        @* Side menu bar code starting *@
        <div class="offcanvas offcanvas-start text-bg-dark bg-dark text-white-50" id="demo">
            <div class="offcanvas-header">
                <h1 class="offcanvas-title">&#128214 Menu</h1>
                <button type="button" class="btn-close btn-close-white" data-bs-dismiss="offcanvas"></button>
            </div>
            <div class="offcanvas-body text-white">
                <Ul>
                    <a href="https://localhost:7143/Book/HomePage"><p class="Menulinks" style="color:white;">&#128073; Home</p></a>
                    <a href="https://localhost:7143/Book/AllBooks"><p class="Menulinks" style="color:white;">&#128073; View All Books List</p></a>
                    <a href="https://localhost:7143/Book/SearchBook"><p class="Menulinks" style="color:white;">&#128073; Search Books by Category</p></a>
                </Ul>
            </div>
        </div>
        @* Side menu bar code ending *@
    }
    else
    {
        <style>
            body{
                background-image : url("/Images/Login Page Image.jpg");
            }
        </style>
    }

    <!-- footer section start -->
    @if (!string.IsNullOrEmpty(httpContextAccessor.HttpContext.Session.GetString("UserEmail")))
    {
        <div class="footer_section">
            <div class="container">
                <div class="footer_location_text">
                    <ul>
                        <li><img src="@Url.Content("~/images/map-icon.png")"><span class="padding_left_10"><a href="#">Loram Ipusm hosting web</a></span></li>
                        <li><img src="@Url.Content("~/images/call-icon.png")"><span class="padding_left_10"><a href="#">Call : +91_XXXXXXXXXX</a></span></li>
                        <li><img src="@Url.Content("~/images/mail-icon.png")"><span class="padding_left_10"><a href="#">demo@gmail.com</a></span></li>
                    </ul>
                </div>
                <div class="row">
                    <div class="col-lg-3 col-sm-6">
                        <h2 class="useful_text">Useful link </h2>
                        <div class="footer_menu">
                            <ul>
                                <li><a href="@Url.Action("HomePage","Book")">Home</a></li>
                                <li><a href="@Url.Action("About","Home")">About</a></li>
                                <li><a href="@Url.Action("Enquiry","Home")">Contact Us</a></li>
                            </ul>
                        </div>
                    </div>
                    <div class="col-lg-3 col-sm-6">
                        <h2 class="useful_text">Repair</h2>
                        <p class="lorem_text">Lorem ipsum dolor sit amet, consectetur  adipiscinaliqua  Loreadipiscing </p>
                    </div>
                    <div class="col-lg-3 col-sm-6">
                        <h2 class="useful_text">Social Media</h2>
                        <div id="social">
                            <a class="facebookBtn smGlobalBtn active" href="#"></a>
                            <a class="twitterBtn smGlobalBtn" href="#"></a>
                            <a class="googleplusBtn smGlobalBtn" href="#"></a>
                            <a class="linkedinBtn smGlobalBtn" href="#"></a>
                        </div>
                    </div>
                    <div class="col-sm-6 col-lg-3">
                        <h1 class="useful_text">Our Library center</h1>
                        <p class="footer_text">Lorem ipsum dolor sit amet, consectetur adipiscinaliquaLoreadipiscing </p>
                    </div>
                </div>
            </div>
        </div>
        <!-- footer section end -->

        <!-- copyright section start -->
        <div class="copyright_section">
            <div class="container">
                <p class="copyright_text">2020 All Rights Reserved. Design by Thakur Jangid.</p>
            </div>
        </div>
        <!-- copyright section end -->
    }
    <!-- Javascript files-->
    <script src="~/js/jquery.min.js"></script>
    <script src="~/js/popper.min.js"></script>
    <script src="~/js/jquery-3.0.0.min.js"></script>
    <script src="~/js/plugin.js"></script>
    <!-- sidebar -->

    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>
    <script>
        $(document).ready(function () {
            var Message = '@TempData["Message"]';
            if (Message != '') {
                alert(Message);
            }
        });
    </script>
    @await RenderSectionAsync("Scripts", required: false)
</body>
</html>
